<%- include('../partials/_head') %>
<body class="bg-gray-100 min-h-screen">
  <%- include('../partials/_nav') %>

  <main class="max-w-7xl mx-auto py-8 px-4 sm:px-6"><%- body %></main>

  <%- include('../partials/_foot') %>
</body>
