<%- include('../partials/_head') %>
<body class="bg-slate-50 overflow-hidden">

  <div class="flex h-screen">

    <%- include('../partials/_nav') %>

    <div class="flex-1 overflow-auto">
      <main class="p-8 max-w-6xl mx-auto">
        <%- body %>
      </main>
    </div>

  </div>

<%- include('../partials/_foot') %>
